@import './theme.css';
body:not([class]) {
  font-family: 
  "STXingkai",      /* 华文行楷（Windows系统自带） */
  "STCaiyun",       /* 华文彩云（Windows系统自带） */
  "FZShuTi",        /* 方正舒体（部分Windows预装） */
  "Kaiti SC",       /* macOS/iOS 楷体优化版 */
  "KaiTi",          /* 通用楷体降级方案 */
  cursive !important;/* 最终降级到浏览器草书字体 */
  
  /* 增强特性 */
  text-rendering: optimizeLegibility; /* 提升字体渲染效果 */
  -webkit-font-smoothing: antialiased; /* Mac字体抗锯齿 */
}
button, input, textarea, pre {
  font-family: inherit !important;
}

/* 覆盖antd字体样式 */
[class^="ant-"], 
[class*=" ant-"] {
  font-family: inherit !important;
}

/* 特殊处理图标组件 */
.anticon {
  font-family: "anticon" !important; /* 保留图标字体 */
}


*{
  margin: 0;
  padding: 0;
}
p{
   white-space: normal;
   word-wrap: break-word;
}
.flex{
  display: flex;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.overflow-e{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow-b-3{
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3; /* 添加标准属性 */
  overflow: hidden;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  min-height: 100vh;
}
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border:2px solid #C0C1C6;
  background-color: #C0C1C6;
  box-sizing: content-box;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border:2px solid #E8E9EB;
  width: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background: #E8E9EB;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
  background-color: #C0C1C6;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #7d7d7d;
}

.cursor{
  cursor: pointer;
}