body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  min-height: 100vh;
}
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border:2px solid #C0C1C6;
  background-color: #C0C1C6;
  box-sizing: content-box;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border:2px solid #E8E9EB;
  width: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background: #E8E9EB;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
  background-color: #C0C1C6;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #7d7d7d;
}